<f:if condition="{settings.useCaptcha}!=='none'">
  <div class="form-row captcha">
    <f:switch expression="{settings.useCaptcha}">

      <!--------------- Friendldy CAPTCHA ----------------->
      <f:case value="frc">
        <f:render partial="FriendlyCaptcha" arguments="{settings : settings, lang : lang}"/>
      </f:case>

      <!--------------- Google reCaptcha V2 checkbox ----------------->
      <f:case value="grcv2_cb">
        <f:render partial="ReCaptchaV2Checkbox" arguments="{settings : settings, lang : lang}"/>
      </f:case>

      <!--------------- Google reCaptcha V2 invisible ----------------->
      <f:case value="grcv2_iv">
        <f:render partial="ReCaptchaV2Invisible" arguments="{settings : settings, lang : lang}"/>
      </f:case>

      <!--------------- Google reCaptcha V3 ----------------->
      <f:case value="grcv3">
        <f:render partial="ReCaptchaV3" arguments="{settings : settings, lang : lang}"/>
      </f:case>

    </f:switch>
  </div>
</f:if>
