<script>
  $(document).ready(function(){
    $('#mmcDms-submitButton').attr( "disabled", true );
  });
  function mmcDmsCaptchaCallback(solution){
    $('#mmcDms-submitButton').removeAttr( "disabled" );
  }
</script>
<div class="frc-captcha" data-sitekey="{settings.captchaSiteKey}" data-lang="{lang}" data-start="focus"
  data-solution-field-name="tx_mmcdirectmailsubscription_subscr[captchaToken]" data-callback="mmcDmsCaptchaCallback"></div>
<script type="module" src="https://unpkg.com/friendly-challenge@0.9.11/widget.module.min.js" async defer></script>
<script nomodule src="https://unpkg.com/friendly-challenge@0.9.11/widget.min.js" async defer></script>
