<input type="hidden" id="grcv3token" name="tx_mmcdirectmailsubscription_subscr[captchaToken]" value=""/>
<div class="g-recaptcha" data-sitekey="{settings.captchaSiteKey}" data-callback="onMmcDmsGrcRender" data-size="invisible"></div>
<script>
  function onMmcDmsGrcRender(token){
    $('#grcv3token').val(token);
    $('#mmc-dms-form').submit();
  }
  function onMmcDmsGrcLoad(){
    grecaptcha.render('mmcDms-submitButton', {
      'sitekey' : '<f:format.raw>{settings.captchaSiteKey}</f:format.raw>',
      'callback' : onMmcDmsGrcRender
    });
  }
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onMmcDmsGrcLoad&render=explicit&hl={lang}" async defer></script>
