<input type="hidden" id="grcv3token" name="tx_mmcdirectmailsubscription_subscr[captchaToken]" value=""/>
<f:if condition="{settings.invokeGrcV3JsGlobally}==0">
  <script src="https://www.google.com/recaptcha/api.js?render={settings.captchaSiteKey}&hl={lang}"></script>
</f:if>
<script>
  function onMmcDmsSubmitButtonClick(e){
    e.preventDefault();
    grecaptcha.ready(function() {
      grecaptcha.execute('<f:format.raw>{settings.captchaSiteKey}</f:format.raw>', {action: '<f:format.raw>{settings.grc3ActionName}</f:format.raw>'}).then(function(token) {
        $('#grcv3token').val(token);
        $('#mmc-dms-form').submit();
      });
    });
  }
  $(document).ready(function(){
    $('#mmcDms-submitButton').click(onMmcDmsSubmitButtonClick);
  });
</script>
