<script src="https://www.google.com/recaptcha/api.js?hl={lang}" async defer></script>
<input type="hidden" id="grcv3token" name="tx_mmcdirectmailsubscription_subscr[captchaToken]" value=""/>
<div class="g-recaptcha" data-sitekey="{settings.captchaSiteKey}" data-callback="onMmcDmsGrcRender"></div>
<script>
  function onMmcDmsGrcRender(token){
    $('#grcv3token').val(token);
  }
</script>
