<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<h4><f:translate key="title.cancel"/></h4>

	<f:if condition="{email}">

		<f:then>
			<f:if condition="{address}">
				<f:then>
					<p>
						<f:translate key="text.cancel-mail-sent.1"/><br/>
						<f:translate key="text.cancel-mail-sent.2"/>
					</p>
					<p>
						<f:link.action action="cancel">
							<f:translate key="label.back"/>
						</f:link.action>
					</p>
				</f:then>
				<f:else>
					<f:translate key="text.emailnotfound" arguments="{0: '{email}'}"/>
					<f:render section="cancel-form"/>
				</f:else>
			</f:if>
		</f:then>

		<f:else>
			<f:render section="cancel-form"/>
		</f:else>

	</f:if>
</f:section>

<f:section name="cancel-form">
	<f:form action="cancel" onsubmit="return mmcDmlSubscr.submitForm()" class="mmc-dms-form" id="mmc-dms-form">
		<div class="form-row">
			<label for="mmcDms-email"><f:translate key="label.email"/>*</label>
			<f:form.textfield name="email" type="text" class="validate required email repeat" id="mmcDms-email"/>
		</div>
		<div class="form-row">
			<label for="mmcDms-email-repeat"><f:translate key="label.email.repeat"/>*</label>
			<f:form.textfield name="email-repeat" type="text" class="validate required email" id="mmcDms-email-repeat"/>
		</div>
		<f:render partial="CaptchaWidget" arguments="{settings : settings, lang : lang}"/>
		<div class="form-submit">
			<f:form.submit name="submitButton" id="mmcDms-submitButton" value="{f:translate(key: 'label.submit')}"/>
		</div>
	</f:form>
	<p>
		<f:link.page>
			<f:translate key="label.back"/>
		</f:link.page>
	</p>
</f:section>
